<div class="all-title-box">
    <div class="container text-center">
        <h1><%= user.name %><span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
    </div>
</div>
<div id="overviews" class="section wb">
    <div class="container">
        <div class="row"> 

        </div><!-- end row -->
        <div class="row mt-5">
            <% for(i=0 ; user.courses.length > i ; i++){ %>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item mb-5">
                        <div class="image-blog">
                            <img src="/images/blog_2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="course-br">
                            <div class="course-title">
                                <h2><a href="/courses/<%= user.courses[i].slug %>" title=""><%= user.courses[i].name %></a></h2>
                            </div>
                            <div class="blog-desc">
                                <p><%= user.courses[i].description %></p>
                                <form class="" action="/courses/release" method="POST">
                                    <input type="hidden" name="course_id" value="<%= user.courses[i]._id %>"/>
                                    <button class="btn btn-lg btn-danger text-white">-</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->

            <% } %>
        </div><!-- end row -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->